/* 
- accompanies style.css as the main styler
- follows a biggest-to-smallest media query structure based on width 
- Height dealt with along with width where possible

Structure:
- | MEDIUM |
- | SMALL |
- | SMALL HEIGHT |
- | MOBILE |
-- | PROFILE |

*/

/* | MEDIUM | */

@media screen and (max-width: 75rem /*1200px*/), screen and (max-height: 35rem /*560px*/){

    #profile {
        gap: 6rem;
    }

    .title {
        font-size: 4rem;
    }
    
    .title-text-container {
        margin-top: 4.5rem;
        margin-bottom: 5.5rem;
    }

    .color-i-dot::before { 
        top: 1.2rem;
        width: 0.8rem;
        height: 0.8rem; 
    }

    .profile-pic {
        height: 25.9rem;
    }
    
}


/* | SMALL | */

@media screen and (max-width: 60rem /*960px*/), screen and (max-height: 30rem /*480px*/) {

    .nav-links {
        gap: 1.3rem;
        font-size: 1rem;
    }

    #profile {
        gap: 4rem;
    }

    .title {
        font-size: 3rem;
    }
    
    .title-text-container {
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    .color-i-dot::before { 
        top: 0.8rem;
        width: 0.6rem;
        height: 0.6rem; 
    }

    .post-title-text {
        font-size: 1rem;
    }

    .profile-pic {
        max-height: 15rem;
    }

    .svg-icon {
        height: 2.5rem;
        width: 2.5rem;
    }
    
}


/* | SMALL HEIGHT | */

@media screen and (max-height: 23rem /*368px*/) {

    #profile {
        gap: 3rem;
        margin-top: 3vh;
    }

    .title-text-container {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    
}


/* | MOBILE | */

@media screen and (max-width: 40rem /*640px*/) {

    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
        position: sticky;
        top: 0;
        justify-content: flex-end;
        z-index: 1000;
        background-color: whitesmoke;
    }

    .hamburger-icon {
        display: flex;
        height: 8vh;
        cursor: pointer;
    }

    .hamburger-rect {
        fill: var(--primary_color);
    }

    #hamburger-rect1 {
        x: 0;
        y: 15; 
    }

    #hamburger-rect2 {
        x: 0;
        y: 40; 
    }

    #hamburger-rect3 {
        x: 0;
        y: 65; 
    }

    .hamburger-icon.open #hamburger-rect1 {
        transform-origin: center;
        transform: translate(-22px, 22px) rotate(45deg);
    }

    .hamburger-icon.open #hamburger-rect2 {
        fill: none;
    }

    .hamburger-icon.open #hamburger-rect3 {
        transform-origin: center;
        transform: translate(-15px, -20px) rotate(-45deg);
    }

    .menu-links {
        display: none;
    }
    
    .menu-links.open {
        display: flex;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        width: fit-content;
        padding: 1rem;
        margin: 0.5rem;
        overflow: hidden;
        transition: all 0.3 ease-in-out;
        box-shadow: 0 4px 6px grey; 
        border-radius: 1rem;
    }
    
    .menu-links-list {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        list-style: none;
        font-size: 1.2rem;
        text-decoration: none;
        text-align: center;
        font-weight: 600;
    }

    #profile {
        flex-direction: column;
        justify-content: start;
    }

    .profile-content-container {
        max-width: 100%;
        width: 100vw;
    }

    .title-container {
        margin: 0 auto;
        width: fit-content;
    }

    .pre-title-text {
        width: fit-content;
    }

    .title {
        width: fit-content;
    }

    .profile-pic-container {
        display: none;
    }

    .profile-pic-container-mobile {
        display: flex;
        margin-top: 2rem;
        padding: 2rem;
    }

    .profile-pic {
        max-height: 30rem;
        width: 100%;
        height: auto;
    }
    
    .title-text-container {
        margin: 2rem auto;
        width: fit-content;
    }

    .profile-icon-container {
        justify-content: center;
    }
}
