@media screen and (max-width: 75rem /*1200px*/) {

    #profile {
        gap: 6rem;
    }

    .title {
        font-size: 4rem;
    }
    
    .title-text-container {
        margin-top: 4.5rem;
        margin-bottom: 5.5rem;
    }

    .color-i-dot::before { 
        top: 1.2rem;
        width: 0.8rem;
        height: 0.8rem; 
    }

    .profile-pic {
        height: 25.9rem;
    }
    
}

@media screen and (max-width: 60rem /*960px*/) {

    #profile {
        gap: 4rem;
    }

    .title {
        font-size: 3rem;
    }
    
    .title-text-container {
        margin-top: 3.5rem;
        margin-bottom: 4.5rem;
    }

    .color-i-dot::before { 
        top: 0.8rem;
        width: 0.6rem;
        height: 0.6rem; 
    }

    .profile-pic {
        height: 22.9rem;
    }

    .svg-icon {
        height: 2.5rem;
        width: 2.5rem;
    }
    
}

@media screen and (max-width: 52rem /*832px*/) {

    .nav-links {
        gap: 1.3rem;
        font-size: 1rem;
    }

    #profile {
        gap: 4rem;
    }

    .title {
        font-size: 3rem;
    }
    
    .title-text-container {
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    .color-i-dot::before { 
        top: 0.8rem;
        width: 0.6rem;
        height: 0.6rem; 
    }

    .post-title-text {
        font-size: 1rem;
    }

    .profile-pic {
        max-height: 15rem;
    }

    .svg-icon {
        height: 2.5rem;
        width: 2.5rem;
    }
    
}

@media screen and (max-width: 40rem /*640px*/) {

    #desktop-nav {
        display: none;
    }

    #hamburger {
        display: flex;
        height: 15vh;
    }

    #profile {
        display: block;
    }

        


    .hamburger-icon span {
        width: 100%;
        height: 2px;
        background-color: black;
        transition: all 0.3 ease-in-out;
    }

   
}


/*
@media screen and (max-width: 100rem) {
    #profile {
        height: 80vh;
        margin-bottom: 6rem;
    }
    .details-display-container {
        flex-wrap: wrap;
    }
    
.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: whitesmoke;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links.open {
    max-height: 300px;
}

.menu-links-list {
    list-style: none;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

}

@media screen and (max-width: 75rem) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    .section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .details-display-container {
        margin-top: 0;
    }
}

@media screen and (max-width: 30rem) {
    #contact, footer {
        height: 40vh;
        margin-bottom: 6rem;
    }
    #profile {
        height: 80vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .details-display-container, .contact-info-parent-container, .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vh;
        justify-content: center;
    }
    .section__text_p1 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
}
*/