/* 
- accompanies mediaqueries.css for responsive elements
- follows the html top-down structure excepting the preliminary 'GENERAL' section
- using rem where possible for sizing
- !sde! = specific design element

Structure:
- | HIDDEN RESPONSIVE ELEMENTS |
- | GENERAL |
- | NAV |
- Sections:
-- | PROFILE |

*/


/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*variables*/
:root {
    --primary_color: #2e364d;
    --secondary_color: #f5ca50;
  }



/* | HIDDEN RESPONSIVE ELEMENTS | */

#hamburger-nav {
    display: none;
}

.profile-pic-container-mobile {
    display: none;
}
   

/* | GENERAL | */

* {
    margin: 0;
    padding: 0
}

html {
    scroll-behavior: smooth;
}

body {
    transition: all 300ms ease;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: whitesmoke;
}

section {
    height: 85vh; /*with nav height 15vh*/
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    transition: all 300ms ease;
    color: grey;
}


/* | NAV | */

#desktop-nav {
    display: flex;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-weight: bold;
    font-size: 1.2rem;
}


/** SECTIONS **/
/* | PROFILE | (This is me)*/

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.profile-content-container {
    max-width: 40%;
}

.profile-text-container {
    max-width: 100%;
    height: auto;
    display: block;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    font-family: "Noto Sans";
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--primary_color);
}

.color-i-dot { /*!sde!*/
    position: relative;
}

.color-i-dot::before { /*!sde!*/
    content: '';
    position: absolute;
    top: 1.35rem;
    left: 50%; /* move dot left edge to center */
    transform: translateX(-50%); /* move dot back 50% of it's own width */
    width: 1rem;
    height: 1rem; 
    background-color: var(--secondary_color);
    border-radius: 2rem;
}

.color-i-line { /*!sde!*/
    color: var(--primary_color);
}

.title-text-container {
    margin-top: 5.5rem;
    margin-bottom: 6.5rem;
}

.post-title-text {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

#colored-post-title-text { /*!sde!*/
    margin-bottom: 1rem;
    color: var(--primary_color);
    background-color: rgba(245, 202, 80, 0.5); /* derived from econdary_color: #F5CA50 with .5 opacity */
    width: fit-content;
}

.profile-icon-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.svg-icon {
    display: block;
    cursor: pointer;
    fill: var(--primary_color);
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 0.5rem;
}

.svg-icon:hover {
    transition: all 300ms ease;
    fill:lightgray;
}

.profile-pic {
    border-radius: 1rem;
    height: 28.9rem; /* aligning with supporting text */
    margin-top: 0.1rem; /* aspect ratio shifts it down a little */
}

/* FOOTER */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}


.icon {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 0.35rem;
}