/* 
- accompanies mediaqueries.css for responsive elements
- follows top-down, in order of appearance structure excepting the preliminary 'GENERAL' section
- !sde! = specific design element

Structure:
- | RESPONSIVE ELEMENTS |
- | GENERAL |
- | NAV |
- Sections:
-- | PROFILE |
-- | PROFILE |

*/


/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*variables*/
:root {
    --primary_color: #2e364d;
    --secondary_color: #f5ca50;
  }



/* | RESPONSIVE ELEMENTS | */

#hamburger {
    display: none;
}
   

/* | GENERAL | */

* {
    margin: 0;
    padding: 0
}

html {
    scroll-behavior: smooth;
}

body {
    transition: all 300ms ease;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: whitesmoke;
}

section {
    height: 85vh; /*with nav height 15vh*/
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    transition: all 300ms ease;
    color: grey;
}


/* | NAV | */

#desktop-nav {
    display: flex;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-weight: bold;
    font-size: 1.2rem;
}


/** SECTIONS **/
/* | PROFILE | (This is me)*/

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 85vh;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    font-family: "Noto Sans";
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--primary_color);
}

.color-i-dot { /*!sde!*/
    position: relative;
}

.color-i-dot::before { /*!sde!*/
    content: '';
    position: absolute;
    top: 1.35rem;
    left: 50%; /* move dot left edge to center */
    transform: translateX(-50%); /* move dot back 50% of it's own width */
    width: 1rem;
    height: 1rem; 
    background-color: var(--secondary_color);
    border-radius: 2rem;
}

.color-i-line { /*!sde!*/
    color: var(--primary_color);
}

.title-text-container {
    margin-top: 5.5rem;
    margin-bottom: 6.5rem;
}

.post-title-text {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

#colored-post-title-text { /*!sde!*/
    margin-bottom: 1rem;
    color: var(--primary_color);
    background-color: rgba(245, 202, 80, 0.5); /* derived from econdary_color: #F5CA50 with .5 opacity */
    width: fit-content;
}

.profile-icon-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.svg-icon {
    display: block;
    cursor: pointer;
    fill: var(--primary_color);
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 0.5rem;
}

.svg-icon:hover {
    transition: all 300ms ease;
    fill:lightgray;
}

.profile-pic {
    border-radius: 1rem;
    height: 28.9rem; /* aligning with supporting text */
    margin-top: 0.1rem; /* aspect ratio shifts it down a little */
}



/* | ABOUT | (Why me)*/

#about {
    position: relative;
}

.section-container {
    display: flex;
    gap: 4rem;
    height: 80%;
    margin: 2rem;
}

.section__pic-container {
    height: 25rem;
    width: 25rem;
    margin: auto 0;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: 2rem;
}

.details-display-container {
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: darkgrey 0.1rem solid;
    text-align: center;
}

.arrow {
    position: absolute;
    right: 5rem;
    cursor: pointer;
    height: 2rem;
}


/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

.experience-sub-title {
    color: darkgrey;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* PROJECTS SECTION */

#projects {
    position: relative;
}

.color-container {
    border-color: grey;
    background-color: white;
}

.project-img {
    border-radius: 2rem;
    width: 40%;
    height: 40%;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border: grey;
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-parent-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: grey 0.1rem solid;
    border-color: lightgray;
    background: white;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

/* FOOTER */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}


.icon {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 0.35rem;
}